@import './mixin.scss';
.background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;

    // background video
    .background__video{
        position:absolute;
        inset:0; 
        width:100%;
        height:100%;
        object-fit:cover; 
        z-index:-1;
        pointer-events:none; /* tránh chặn tương tác */
    }

    /* Overlay để tăng tương phản */
    .background__overlay {
      position:absolute;
      inset:0;
      background:linear-gradient(180deg, rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.308));
      z-index:0;
    }

    // Icon animation giua man hinh
    .background__iconmid{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index:0;
        pointer-events:none; /* tránh chặn tương tác */
        img{
            object-fit:cover; 
            width: 100%;
            height: 100%;
            opacity: .5;
        }
    }

    // Set kicht thuoc dong cho Icon animation
    .background__iconmid--size1{
        width: 40vw;
        height: 40vw;
    }
    .background__iconmid--size2{
        width: 40vh;
        height: 40vh;
    }

    // Icon mui ten o 4 goc
    .background__iconarow{
        position:absolute;
        inset: 0;
        z-index:0;
        pointer-events:none; /* tránh chặn tương tác */
        img{
            position: absolute;
            object-fit:cover; 
            width: 20vw;
            height: 20vh;
            &:nth-child(1){
                inset: 0;
            }
            &:nth-child(2){
                right: 0px;
                transform: scale(-1);
            }
            &:nth-child(3){
                bottom: 0px;
            }
            &:nth-child(4){
                right: 0px;
                bottom: 0px;
                transform: scale(-1);
            }
        }
    }

    // Tieu de
    .background__title{
        position: absolute;
        width: 100%;
        top: 20px;
        text-align: center;
        h1{
            display: inline;
            @include responsive-font-heading1();
            color: white;
            letter-spacing: 1vw;

            &:nth-child(1){
                padding-right: 1vw;
            }
            &:nth-child(2){
                padding-left: 1vw;
            }
        }
    }

    // thong tin footer
    .background__footer{
        position: absolute;
        width: 100%;
        bottom: 30px;
        text-align: center;
        overflow: hidden;
        a{
            display: inline;
            @include responsive-font-heading2();
            color: white;
            letter-spacing: 1vw;
            text-decoration: none;
        }
    }
}

.main{
    position: relative;
    inset: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .main__box{
        position: relative;
        width: 40vh;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .main__box--title{
            width: 100%;
            height: 30%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            .title__name{
                width: 100%;
                text-align: center;
                p{
                    @include responsive-font-heading2();
                    letter-spacing: 1vh;
                    color: white;
                }
            }
        }
        .main__box--timeline{
            width: 100%;
            height: 10%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            input{
                width: 100%;
                width: 100%;
                outline: 0px;
                -webkit-appearance: none; /* Chrome, Safari, Edge */
                appearance: none;
                background: transparent; /* Để track tự custom */
                &::-webkit-slider-runnable-track {
                    height: .4vw;
                    background: #ccc;
                    border-radius: 10000px; 
                    border: .1vw solid rgb(71, 26, 129);
                }
                &::-moz-range-track {
                    height: .4vw;
                    background: #ccc;
                    border: .1vw solid rgb(71, 26, 129);
                    border-radius: 1000px;
                }
                /* Nút kéo (thumb) */
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 1.2vw;     /* chiều rộng nút */
                    height: .6vw;    /* chiều cao nút */
                    background: #000000;
                    border-radius: .2vw;
                    cursor: pointer;
                    margin-top: -.2vw;
                    border: .1vw solid rgb(95, 94, 94);
                }
                &::-moz-range-thumb {
                    width: 1.2vw;
                    height: .6vw;
                    background: #000000;
                    border: .1vw solid rgb(95, 94, 94);
                    border-radius: .3vw;
                    cursor: pointer;
                }
            }
        }
        .main__box--button{
            width: 80%;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .button__pre{
                width: 1.2vw;
                height: 1.2vw;
                cursor: pointer;
                &:hover img{
                    animation: anim_3d_link 0.2s ease-out forwards;

                }
               
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.1s linear;  
                }
            }
            .button__play{
                width: 1.8vw;
                height: 1.8vw;
                cursor: pointer;
                &:hover img{
                    animation: anim_3d_link 0.2s ease-out forwards;
    
                }
               
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.1s linear;  
                }
            }
            .button__pause{
                width: 1.8vw;
                height: 1.8vw;
                cursor: pointer;
                &:hover img{
                    animation: anim_3d_link 0.2s ease-out forwards;
    
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.1s linear;  
                }
            }
            .button__next{
                width: 1.2vw;
                height: 1.2vw;
                cursor: pointer;
                &:hover img{
                    animation: anim_3d_link 0.2s ease-out forwards;
    
                }
               
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.1s linear;  
                }
            }
        }
        .main__box--camera{
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            .camera__button{
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &:hover img{
                    animation: anim_3d_link 0.2s ease-out forwards;
                }
                &:hover p{
                    animation: anim_3d_link 0.2s ease-out forwards;
                }
                p{
                    @include responsive-font-heading3();
                    padding-left: 3px;
                    color: white;
                }
                img{
                    width: 1.8vw;
                    height: 1.8vw;
                    object-fit: cover;
                }
            }
        }
    }
}

.notification{
    width: 30vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    right: 1vw;
    top: 1vw;
    pointer-events: none;
    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: column;
    .notification__item{
        position: relative;
        width: 90%;
        height: 15%;
        max-width: 500px;
        max-height: 100px;
        background-color: rgb(36, 2, 65);
        border-radius: 1vw;
        border: .1vw solid white;
        margin-bottom: 10px;
        display: none;
        .notification__item--title{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .img{
                border-radius: .5vw;
                width: 2vw;
                height: 2vw;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                img{
                    width: 1.5vw;
                    height: 1.5vw;
                }
            }
            .text{
                width: 70%;
                p{
                    @include responsive-font-heading3();
                    color: white;
                    &:nth-child(1){
                        font-weight: bold;
                    }
                    &:nth-child(2){
                        opacity: .7;
                    }
                }
            }
            .btn{
                width: 1.5vw;
                height: 1.5vw;
                position: absolute;
                right: .5vw;
                top: .5vw;
                z-index: 1000000;
                img{
                    width: 100%;
                    height: 100%;
                    pointer-events: visible;
                }
            }
        }
    }
}

.warrning{
    position: absolute;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom,rgba(0, 0, 0),rgb(119, 119, 119));
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: center;
    &__display{
        display: flex;
    }
    p{
        @include responsive-font-heading3();
        color: white;
    }
}

.load{
    position: absolute;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: center;
    pointer-events: visible;
    &__display{
        display: flex;
    }
    img{
            position: absolute;
            width: 5vw;
            height: 5vw;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
    }
}


@keyframes anim_3d_link{
    0% {
        transform: rotate3d(1, 1, 1, 0deg) ;
    }
    50% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    100% {
        transform: translateY(-5px);
    }
}
