@charset "UTF-8";
.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  /* Overlay để tăng tương phản */
}
.background .background__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none; /* tránh chặn tương tác */
}
.background .background__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.308));
  z-index: 0;
}
.background .background__iconmid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none; /* tránh chặn tương tác */
}
.background .background__iconmid img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.background .background__iconmid--size1 {
  width: 40vw;
  height: 40vw;
}
.background .background__iconmid--size2 {
  width: 40vh;
  height: 40vh;
}
.background .background__iconarow {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none; /* tránh chặn tương tác */
}
.background .background__iconarow img {
  position: absolute;
  object-fit: cover;
  width: 20vw;
  height: 20vh;
}
.background .background__iconarow img:nth-child(1) {
  inset: 0;
}
.background .background__iconarow img:nth-child(2) {
  right: 0px;
  transform: scale(-1);
}
.background .background__iconarow img:nth-child(3) {
  bottom: 0px;
}
.background .background__iconarow img:nth-child(4) {
  right: 0px;
  bottom: 0px;
  transform: scale(-1);
}
.background .background__title {
  position: absolute;
  width: 100%;
  top: 20px;
  text-align: center;
}
.background .background__title h1 {
  display: inline;
  font-size: 36px;
  color: white;
  letter-spacing: 1vw;
}
@media (max-width: 1920px) {
  .background .background__title h1 {
    font-size: 28px;
  }
}
@media (max-width: 1440px) {
  .background .background__title h1 {
    font-size: 24px;
  }
}
@media (max-width: 1024px) {
  .background .background__title h1 {
    font-size: 20px;
  }
}
@media (max-width: 900px) {
  .background .background__title h1 {
    font-size: 20px;
  }
}
.background .background__title h1:nth-child(1) {
  padding-right: 1vw;
}
.background .background__title h1:nth-child(2) {
  padding-left: 1vw;
}
.background .background__footer {
  position: absolute;
  width: 100%;
  bottom: 30px;
  text-align: center;
  overflow: hidden;
}
.background .background__footer a {
  display: inline;
  font-size: 24px;
  color: white;
  letter-spacing: 1vw;
  text-decoration: none;
}
@media (max-width: 1920px) {
  .background .background__footer a {
    font-size: 20px;
  }
}
@media (max-width: 1440px) {
  .background .background__footer a {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .background .background__footer a {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .background .background__footer a {
    font-size: 16px;
  }
}

.main {
  position: relative;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main__box {
  position: relative;
  width: 40vh;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main .main__box .main__box--title {
  width: 100%;
  height: 30%;
  overflow: hidden;
}
.main .main__box .main__box--title .title__name {
  width: 100%;
  text-align: center;
}
.main .main__box .main__box--title .title__name p {
  font-size: 24px;
  letter-spacing: 1vh;
  color: white;
}
@media (max-width: 1920px) {
  .main .main__box .main__box--title .title__name p {
    font-size: 20px;
  }
}
@media (max-width: 1440px) {
  .main .main__box .main__box--title .title__name p {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .main .main__box .main__box--title .title__name p {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .main .main__box .main__box--title .title__name p {
    font-size: 16px;
  }
}
.main .main__box .main__box--timeline {
  width: 100%;
  height: 10%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main__box .main__box--timeline input {
  width: 100%;
  width: 100%;
  outline: 0px;
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  appearance: none;
  background: transparent; /* Để track tự custom */
  /* Nút kéo (thumb) */
}
.main .main__box .main__box--timeline input::-webkit-slider-runnable-track {
  height: 0.4vw;
  background: #ccc;
  border-radius: 10000px;
  border: 0.1vw solid rgb(71, 26, 129);
}
.main .main__box .main__box--timeline input::-moz-range-track {
  height: 0.4vw;
  background: #ccc;
  border: 0.1vw solid rgb(71, 26, 129);
  border-radius: 1000px;
}
.main .main__box .main__box--timeline input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.2vw; /* chiều rộng nút */
  height: 0.6vw; /* chiều cao nút */
  background: #000000;
  border-radius: 0.2vw;
  cursor: pointer;
  margin-top: -0.2vw;
  border: 0.1vw solid rgb(95, 94, 94);
}
.main .main__box .main__box--timeline input::-moz-range-thumb {
  width: 1.2vw;
  height: 0.6vw;
  background: #000000;
  border: 0.1vw solid rgb(95, 94, 94);
  border-radius: 0.3vw;
  cursor: pointer;
}
.main .main__box .main__box--button {
  width: 80%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .main__box .main__box--button .button__pre {
  width: 1.2vw;
  height: 1.2vw;
  cursor: pointer;
}
.main .main__box .main__box--button .button__pre:hover img {
  animation: anim_3d_link 0.4s ease-out forwards;
}
.main .main__box .main__box--button .button__pre:active img {
  margin-top: 4px;
}
.main .main__box .main__box--button .button__pre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.1s linear;
}
.main .main__box .main__box--button .button__play {
  width: 1.8vw;
  height: 1.8vw;
  cursor: pointer;
}
.main .main__box .main__box--button .button__play:hover img {
  animation: anim_3d_link 0.4s ease-out forwards;
}
.main .main__box .main__box--button .button__play:active img {
  margin-top: 4px;
}
.main .main__box .main__box--button .button__play img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.1s linear;
}
.main .main__box .main__box--button .button__pause {
  width: 1.8vw;
  height: 1.8vw;
  cursor: pointer;
}
.main .main__box .main__box--button .button__pause:hover img {
  animation: anim_3d_link 0.4s ease-out forwards;
}
.main .main__box .main__box--button .button__pause:active img {
  margin-top: 4px;
}
.main .main__box .main__box--button .button__pause img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.1s linear;
}
.main .main__box .main__box--button .button__next {
  width: 1.2vw;
  height: 1.2vw;
  cursor: pointer;
}
.main .main__box .main__box--button .button__next:hover img {
  animation: anim_3d_link 0.4s ease-out forwards;
}
.main .main__box .main__box--button .button__next:active img {
  margin-top: 4px;
}
.main .main__box .main__box--button .button__next img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.1s linear;
}

.warrning {
  position: absolute;
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(119, 119, 119));
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  display: none;
  align-items: center;
  justify-content: center;
}
.warrning__display {
  display: flex;
}
.warrning p {
  font-size: 18px;
  line-height: 24px;
  color: white;
}
@media (max-width: 1920px) {
  .warrning p {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 1440px) {
  .warrning p {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 1024px) {
  .warrning p {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 900px) {
  .warrning p {
    font-size: 12px;
  }
}

@keyframes anim_3d_link {
  0% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
  100% {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
    transform: translateY(-5px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.3);
  }
}

/*# sourceMappingURL=style.css.map */
