<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssreset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/face.png') }}" type="image/x-icon">
    <title>Home Page</title>
</head>
<body>
    <section class="background">
        <video class="background__video"
           autoplay muted loop playsinline
           preload="metadata"
           poster=""
           aria-hidden="true">
            <source src="{{ url_for('static', filename='video/back_1.mp4') }}" type="video/webm">
        </video>
        <div class="background__overlay" aria-hidden="true"></div>
        <div class="background__iconmid">
            <img src="{{ url_for('static', filename='video/Icon_1.gif') }}" alt="Mô tả ảnh GIF" />
        </div>
        <div class="background__iconarow">
            <img src="{{ url_for('static', filename='video/Icon_2.gif') }}" alt="Mô tả ảnh GIF" />
            <img src="{{ url_for('static', filename='video/Icon_2.gif') }}" alt="Mô tả ảnh GIF" />
            <img src="{{ url_for('static', filename='video/Icon_2.gif') }}" alt="Mô tả ảnh GIF" />
            <img src="{{ url_for('static', filename='video/Icon_2.gif') }}" alt="Mô tả ảnh GIF" />
        </div>
        <div class="background__title">
            <h1>Studio</h1>
            <h1>Shodwe</h1>
        </div>
        <div class="background__footer">
            <a href="#">www.reallygreatsite.com</a>
        </div>
    </section>

    <section class="main">
        <div class="main__box">
            <div class="main__box--title">
                <div class="title__name">
                    <p>Bai Hat So Mot</p>
                    <audio src="{{ url_for('static', filename='mp3/bai1.mp3') }}"></audio>
                </div>
            </div>
            <div class="main__box--timeline">
                <input type="range" class="timeline__seekBar" value="0">
            </div>
            <div class="main__box--button">
                <div class="button__pre">
                    <img src="{{ url_for('static', filename='img/pre.png') }}" onclick="pre()" alt="">
                </div>
                <div class="button__play" >
                    <img src="{{ url_for('static', filename='img/play.png') }}" onclick="pause()" alt="">
                </div>
                <div class="button__pause">
                    <img src="{{ url_for('static', filename='img/pause.png') }}" onclick="play()" alt="">
                </div>
                <div class="button__next">
                    <img src="{{ url_for('static', filename='img/next.png') }}" onclick="next()" alt="">
                </div>
            </div>
            <div class="main__box--camera">
                <div class="camera__button">
                    <button onclick="toggleAiFuction()">AI Control</button>
                </div>
                <video id="video" autoplay playsinline style="display: none;"></video>
            </div>
            
        </div>
    </section>
    
    <section class="fix">
        <div class="warrning warrning__display">
            <p>Vui long xoay ngang thiet bi</p>
        </div>
    </section>
</body>
</html>