<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>test</title>
  <style>
    video {
      width: 50vw;
      border: 2px solid #333;
    }
    button {
      padding: 10px 20px;
      margin: 10px;
      font-size: 16px;
    }
  </style>
</head>
<body>
  <h2>{{message}}</h2>
  <Button onclick="test()">Test</Button>



  <video id="video" autoplay playsinline></video>
  <canvas id="canvas" style="display:none;"></canvas>
  <br>
  <button id="startBtn">Bật Camera</button>
  <button id="stopBtn">Tắt Camera</button>
  
  <!-- <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script> -->
  <script>
    // const socket = io("http://localhost:5000");  
    const canvas = document.createElement('canvas');
    const ctx = canvas.getContext('2d');
    const video = document.getElementById('video');

    const startBtn = document.getElementById('startBtn');
    const stopBtn = document.getElementById('stopBtn');
    
    let stream_ = null; 
    let intervalId = null;
    let smooth_x = 0;
    let smooth_y = 0;
    // Bật camera
    startBtn.onclick =  () => {
      if (stream_) return; // nếu đã bật thì không bật lại
        navigator.mediaDevices.getUserMedia({ video: true }).then((stream)=>{
          video.srcObject = stream;
          stream_ = stream
          intervalId = setInterval(() => {
            const width = window.innerWidth; // resize để nhẹ
            const height = window.innerHeight;
            canvas.width = width;
            canvas.height = height;
            ctx.drawImage(video, 0, 0, width, height);

            canvas.toBlob(blob => {
                const formData = new FormData();
                formData.append("image", blob, "frame.jpg");
                formData.append("smooth_x", smooth_x.toString());
                formData.append("smooth_y", smooth_y.toString());

                fetch('/test', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then((data)=>{
                  if(data){
                    console.log(smooth_x,smooth_y)
                    smooth_x = data.smooth_x;
                    smooth_y = data.smooth_y;
                  }
                });
            }, 'image/jpeg');
        }, 50);
        });
      } ;

      

    // Tắt camera
    stopBtn.onclick = () => {
      if (stream_) {
        stream_.getTracks().forEach(track => track.stop());
        video.srcObject = null;
        stream_ = null;
        clearInterval(intervalId);
        intervalId = null;
      }
    };

    function test(){
      socket.emit('image', "imageData");
    }
  </script>


</body>
</html>
